# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Forgex_MOM/.trae/
/Forgex_MOM/doc/
/Forgex_MOM/Forgex_Fronted/node_modules/
/Forgex_MOM/Forgex_Fronted/dist/
/Forgex_MOM/Forgex_Fronted/.idea/
/.idea/
/Forgex_MOM/Forgex_Backend/.idea/
/Forgex_MOM/Forgex_Backend/logs/
/Forgex_MOM/Forgex_Backend/Forgex_Sys/logs/
/Forgex_MOM/Forgex_Backend/Forgex_Gateway/logs/
/.trae/
/doc/
/.vscode/
/Forgex_MOM/Forgex_Backend/Forgex_Job/target/
/Forgex_MOM/Forgex_Backend/Forgex_Sys/target/
/Forgex_MOM/Forgex_Backend/Forgex_Auth/target/
/Forgex_MOM/Forgex_Backend/Forgex_Workflow/target/
/Forgex_MOM/Forgex_Backend/Forgex_Basic/target/
/.tmp/
/uploads/0d1f188c7e2f4963910482725c323aea.mp4
/uploads/1c7ee98348414e9ba80f98dbb031ae46.png
/cache/3fe75c1bf5bb43c8a48287f58e188efb.png
/uploads/4d220ecb-3dfe-4d18-950e-817fe3560e94.jpg
/uploads/04ea2c9b751e4b2aa15080e764f58c96.png
/uploads/5bab71b1d74d447eb76112d3e5190414.png
/uploads/6e9e08bd-3335-4bfd-a876-40017aa75f39.jpg
/uploads/9bf50d8f-2fbb-4536-aa66-90323047b8f3.jpg
/uploads/9f3fed37a1e944eda9448bf7e1a9af47.png
/cache/36c3fde17a9c4f00a4f2f3b4522cff0f.jpg
/uploads/36dcc774ffdf49f98e5dece04389f2ab.png
/uploads/47e3f3eb-e058-417c-ad0e-365801e3a1a3.jpg
/uploads/66be5a54cc19452c966b62ec3358b48a.png
/uploads/385ba8b2ee984ddb86a9db6169ce4d70.jpg
/uploads/669e47e3-dd20-43e5-aee3-06f5120d4e0e.jpg
/uploads/0767c88bcfa54a589180a9e634eb3f0e.jpg
/uploads/1164e602632545d6ad3ca22461c9db86.png
/cache/2693e7c4fbda4029ac9cf60af0b10868.png
/uploads/3691ef78719a48f88e358cf747b20e01.png
/cache/9633c011bf744b69a985815ac483c52a.png
/uploads/755609a2b73d45dd98e2a1f88be97dae.png
/uploads/35488337a36741718ee016d9d499efd3.png
/uploads/a7ddc20f51014fd2a0915d4661796c39.png
/uploads/a1287fbe-07b0-4f68-bb2b-4e15b34974a0.jpg
/uploads/a0427182-a926-4823-97ea-5c162ae652a8.jpg
/Forgex_MOM/Forgex_Backend/Forgex_Gateway/target/classes/application.yml
/Forgex_MOM/Forgex_Backend/Forgex_Report/target/classes/application.yml
/Forgex_MOM/Forgex_Backend/Forgex_Report/target/classes/application-dev.yml
/Forgex_MOM/Forgex_Backend/Forgex_Report/target/classes/application-prod.yml
/uploads/b5e9df4cd8464d1a9fb5f5cd7befd68c.png
/uploads/b6b5e8ba-2c63-4a84-8067-42afb90ae0ee.jpg
/Forgex_MOM/Forgex_Backend/Forgex_Common/target/classes/banner.txt
/uploads/bc7b5d3799584338ad7169392c30fe2b.png
/uploads/bfaceace64cd4e8b856fdfc7a419fd9e.png
/uploads/c7ce986ac7284ee1bb3c89b14d5eec99.png
/uploads/cd61ee32b56540508d42f9216ea4a750.mp4
/Forgex_MOM/Forgex_Backend/Forgex_Common/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Forgex_MOM/Forgex_Backend/Forgex_Gateway/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Forgex_MOM/Forgex_Backend/Forgex_Report/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/uploads/da12f95a29d94736be39172c41443cc9.png
/uploads/e6c14f017c5946138b44a4654e9855b6.mp4
/uploads/e281b854-0329-442e-a4aa-3bce7e693eda.jpg
/uploads/ed86214d98ab467498d2cdf3c4b10f20.png
/uploads/ede35b9f3d5a4de49822247c302157f8.mp4
/uploads/f5fb502cc4234de0b2b3328a519abeb2.png
/uploads/f973ed5a4bfb44c2bf3e7fa7200b2f73.png
/uploads/f9923dc33a9a43f680bf2ca8c8507e1a.png
/uploads/fe6a220de6104ccba60c39058ad74e5a.png
/Forgex_MOM/Forgex_Backend/Forgex_Common/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Forgex_MOM/Forgex_Backend/Forgex_Gateway/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Forgex_MOM/Forgex_Backend/Forgex_Report/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Forgex_MOM/Forgex_Backend/Forgex_Common/target/classes/logback-spring.xml
/Forgex_MOM/Forgex_Backend/Forgex_Gateway/target/classes/logback-spring.xml
