-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: forgex_workflow
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `sys_message_template`
--

DROP TABLE IF EXISTS `sys_message_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_message_template` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `template_code` varchar(50) NOT NULL,
  `template_name` varchar(100) NOT NULL,
  `template_name_i18n_json` text,
  `template_version` varchar(20) DEFAULT '1.0.0',
  `message_type` varchar(20) DEFAULT 'NOTICE',
  `status` tinyint DEFAULT '1',
  `remark` varchar(500) DEFAULT NULL,
  `tenant_id` bigint DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `create_by` varchar(50) DEFAULT NULL,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `update_by` varchar(50) DEFAULT NULL,
  `deleted` tinyint DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_message_template` (`tenant_id`,`template_code`,`deleted`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_message_template`
--

LOCK TABLES `sys_message_template` WRITE;
/*!40000 ALTER TABLE `sys_message_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_message_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_message_template_content`
--

DROP TABLE IF EXISTS `sys_message_template_content`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_message_template_content` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `template_id` bigint NOT NULL,
  `platform` varchar(20) NOT NULL,
  `content_title` varchar(200) DEFAULT NULL,
  `content_title_i18n_json` text,
  `content_body` longtext,
  `content_body_i18n_json` text,
  `link_url` varchar(500) DEFAULT NULL,
  `tenant_id` bigint NOT NULL DEFAULT '0',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `deleted` tinyint DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_sys_message_template_content_tpl` (`template_id`,`platform`,`tenant_id`,`deleted`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_message_template_content`
--

LOCK TABLES `sys_message_template_content` WRITE;
/*!40000 ALTER TABLE `sys_message_template_content` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_message_template_content` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_message_template_receiver`
--

DROP TABLE IF EXISTS `sys_message_template_receiver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_message_template_receiver` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `template_id` bigint NOT NULL,
  `receiver_type` varchar(20) NOT NULL,
  `receiver_ids` varchar(500) DEFAULT NULL,
  `tenant_id` bigint NOT NULL DEFAULT '0',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `deleted` tinyint DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_sys_message_template_receiver_tpl` (`template_id`,`receiver_type`,`tenant_id`,`deleted`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_message_template_receiver`
--

LOCK TABLES `sys_message_template_receiver` WRITE;
/*!40000 ALTER TABLE `sys_message_template_receiver` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_message_template_receiver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_my_task`
--

DROP TABLE IF EXISTS `wf_my_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_my_task` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `execution_id` bigint NOT NULL,
  `task_name` varchar(255) DEFAULT NULL,
  `node_id` bigint DEFAULT NULL,
  `node_name` varchar(255) DEFAULT NULL,
  `approval_instance_id` bigint DEFAULT NULL COMMENT '审批实例 ID',
  `execution_detail_id` bigint DEFAULT NULL COMMENT '审批执行明细 ID',
  `approver_id` bigint DEFAULT NULL COMMENT '当前审批人 ID',
  `deadline_time` datetime DEFAULT NULL COMMENT '审批截止时间',
  `approver_ids` longtext,
  `status` int NOT NULL DEFAULT '0',
  `tenant_id` bigint DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_wf_my_task_exec` (`tenant_id`,`execution_id`,`status`),
  KEY `idx_wf_my_task_instance` (`approval_instance_id`,`status`),
  KEY `idx_wf_my_task_approver` (`approver_id`,`status`,`deadline_time`),
  KEY `idx_wf_my_task_exec_detail` (`execution_id`,`execution_detail_id`,`node_id`,`status`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_my_task`
--

LOCK TABLES `wf_my_task` WRITE;
/*!40000 ALTER TABLE `wf_my_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_my_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_task_approval_action_log`
--

DROP TABLE IF EXISTS `wf_task_approval_action_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_task_approval_action_log` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `execution_id` bigint NOT NULL COMMENT '审批执行ID',
  `execution_detail_id` bigint DEFAULT NULL COMMENT '审批执行明细ID',
  `node_id` bigint DEFAULT NULL COMMENT '节点ID',
  `approval_instance_id` bigint DEFAULT NULL COMMENT '审批实例ID',
  `action_type` int NOT NULL COMMENT '动作类型：1通过 2驳回 3转交 4加签 5委托 6超时通过 7超时转交 8系统关闭',
  `operator_id` bigint DEFAULT NULL COMMENT '操作人ID',
  `operator_name` varchar(128) DEFAULT NULL COMMENT '操作人姓名',
  `target_user_id` bigint DEFAULT NULL COMMENT '目标用户ID',
  `target_user_name` varchar(128) DEFAULT NULL COMMENT '目标用户姓名',
  `action_comment` varchar(1000) DEFAULT NULL COMMENT '动作说明',
  `action_snapshot` text COMMENT '动作快照JSON',
  `tenant_id` bigint DEFAULT NULL COMMENT '租户ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `deleted` tinyint(1) NOT NULL DEFAULT '0' COMMENT '逻辑删除标记',
  PRIMARY KEY (`id`),
  KEY `idx_wf_task_approval_action_execution` (`execution_id`,`node_id`),
  KEY `idx_wf_task_approval_action_instance` (`approval_instance_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='工作流审批动作日志表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_task_approval_action_log`
--

LOCK TABLES `wf_task_approval_action_log` WRITE;
/*!40000 ALTER TABLE `wf_task_approval_action_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_task_approval_action_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_task_approval_instance`
--

DROP TABLE IF EXISTS `wf_task_approval_instance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_task_approval_instance` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `execution_id` bigint NOT NULL COMMENT '审批执行ID',
  `execution_detail_id` bigint NOT NULL COMMENT '审批执行明细ID',
  `node_id` bigint NOT NULL COMMENT '节点ID',
  `instance_no` varchar(64) NOT NULL COMMENT '审批实例编号',
  `approver_id` bigint NOT NULL COMMENT '审批人ID',
  `approver_name` varchar(128) DEFAULT NULL COMMENT '审批人姓名',
  `approver_source_type` int DEFAULT NULL COMMENT '审批来源类型',
  `source_rule_id` bigint DEFAULT NULL COMMENT '来源规则ID',
  `source_snapshot` text COMMENT '来源快照JSON',
  `status` int NOT NULL DEFAULT '0' COMMENT '实例状态：0待处理 1已通过 2已驳回 3已转交 4已关闭',
  `action_type` int DEFAULT NULL COMMENT '动作类型',
  `comment` varchar(1000) DEFAULT NULL COMMENT '处理意见',
  `approve_time` datetime DEFAULT NULL COMMENT '处理时间',
  `deadline_time` datetime DEFAULT NULL COMMENT '截止时间',
  `activated` tinyint(1) NOT NULL DEFAULT '1' COMMENT '是否激活',
  `delegate_from_user_id` bigint DEFAULT NULL COMMENT '委托来源用户ID',
  `transfer_from_user_id` bigint DEFAULT NULL COMMENT '转交来源用户ID',
  `tenant_id` bigint DEFAULT NULL COMMENT '租户ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint(1) NOT NULL DEFAULT '0' COMMENT '逻辑删除标记',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_wf_task_approval_instance_no` (`instance_no`),
  KEY `idx_wf_task_approval_instance_execution` (`execution_id`,`node_id`,`status`),
  KEY `idx_wf_task_approval_instance_approver` (`approver_id`,`status`,`activated`),
  KEY `idx_wf_task_approval_instance_deadline` (`deadline_time`,`status`,`activated`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='工作流审批运行实例表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_task_approval_instance`
--

LOCK TABLES `wf_task_approval_instance` WRITE;
/*!40000 ALTER TABLE `wf_task_approval_instance` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_task_approval_instance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_task_config`
--

DROP TABLE IF EXISTS `wf_task_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_task_config` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tenant_id` bigint DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `create_by` varchar(64) DEFAULT NULL,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `update_by` varchar(64) DEFAULT NULL,
  `deleted` tinyint NOT NULL DEFAULT '0',
  `task_name` varchar(255) NOT NULL,
  `task_name_i18n_json` text,
  `task_code` varchar(64) NOT NULL,
  `category_code` varchar(64) NOT NULL DEFAULT 'general' COMMENT '审批分类编码',
  `interpreter_bean` varchar(128) DEFAULT NULL,
  `callback_url` varchar(500) DEFAULT NULL COMMENT '???? HTTP ????',
  `callback_bean` varchar(128) DEFAULT NULL COMMENT '?????? Bean ??',
  `form_type` int DEFAULT NULL,
  `form_path` varchar(255) DEFAULT NULL,
  `form_content` longtext,
  `status` int NOT NULL DEFAULT '1',
  `version` int NOT NULL DEFAULT '1',
  `config_stage` varchar(20) NOT NULL DEFAULT 'PUBLISHED' COMMENT '配置阶段：DRAFT/PUBLISHED/ARCHIVED',
  `remark` varchar(500) DEFAULT NULL,
  `start_message_template_code` varchar(64) DEFAULT NULL,
  `approve_message_template_code` varchar(64) DEFAULT NULL,
  `reject_message_template_code` varchar(64) DEFAULT NULL,
  `finish_message_template_code` varchar(64) DEFAULT NULL,
  `link_base_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_tenant_task_code_version` (`tenant_id`,`task_code`,`version`,`deleted`),
  KEY `idx_task_code_stage` (`tenant_id`,`task_code`,`config_stage`,`deleted`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_task_config`
--

LOCK TABLES `wf_task_config` WRITE;
/*!40000 ALTER TABLE `wf_task_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_task_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_task_execution`
--

DROP TABLE IF EXISTS `wf_task_execution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_task_execution` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `task_config_id` bigint NOT NULL,
  `task_code` varchar(64) NOT NULL,
  `task_name` varchar(255) NOT NULL,
  `initiator_id` bigint NOT NULL,
  `initiator_name` varchar(100) DEFAULT NULL,
  `current_node_id` bigint DEFAULT NULL,
  `current_node_name` varchar(255) DEFAULT NULL,
  `form_content` longtext,
  `start_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `end_time` datetime DEFAULT NULL,
  `status` int NOT NULL DEFAULT '1',
  `tenant_id` bigint DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted` tinyint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_wf_task_execution_task` (`tenant_id`,`task_config_id`,`status`,`deleted`),
  KEY `idx_wf_task_execution_initiator` (`tenant_id`,`initiator_id`,`status`,`deleted`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_task_execution`
--

LOCK TABLES `wf_task_execution` WRITE;
/*!40000 ALTER TABLE `wf_task_execution` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_task_execution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_task_execution_approver`
--

DROP TABLE IF EXISTS `wf_task_execution_approver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_task_execution_approver` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `execution_detail_id` bigint NOT NULL,
  `execution_id` bigint NOT NULL,
  `node_id` bigint NOT NULL,
  `approver_detail` longtext,
  `reject_type` int DEFAULT NULL,
  `tenant_id` bigint DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_wf_task_execution_approver_exec` (`tenant_id`,`execution_id`,`node_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_task_execution_approver`
--

LOCK TABLES `wf_task_execution_approver` WRITE;
/*!40000 ALTER TABLE `wf_task_execution_approver` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_task_execution_approver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_task_execution_detail`
--

DROP TABLE IF EXISTS `wf_task_execution_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_task_execution_detail` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `execution_id` bigint NOT NULL,
  `node_id` bigint NOT NULL,
  `node_name` varchar(255) DEFAULT NULL,
  `current_status` int NOT NULL DEFAULT '0',
  `tenant_id` bigint DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_wf_task_execution_detail_exec` (`tenant_id`,`execution_id`,`node_id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_task_execution_detail`
--

LOCK TABLES `wf_task_execution_detail` WRITE;
/*!40000 ALTER TABLE `wf_task_execution_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_task_execution_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_task_node_approver`
--

DROP TABLE IF EXISTS `wf_task_node_approver`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_task_node_approver` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `node_config_id` bigint NOT NULL,
  `approver_type` int NOT NULL,
  `approver_ids` longtext,
  `tenant_id` bigint DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `deleted` tinyint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_wf_task_node_approver_node` (`tenant_id`,`node_config_id`,`deleted`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_task_node_approver`
--

LOCK TABLES `wf_task_node_approver` WRITE;
/*!40000 ALTER TABLE `wf_task_node_approver` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_task_node_approver` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_task_node_config`
--

DROP TABLE IF EXISTS `wf_task_node_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_task_node_config` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `task_config_id` bigint NOT NULL,
  `node_key` varchar(64) DEFAULT NULL COMMENT '设计器稳定节点标识',
  `node_type` int NOT NULL,
  `node_name` varchar(255) NOT NULL,
  `node_name_i18n_json` text,
  `node_level` int DEFAULT NULL,
  `pre_level` int DEFAULT NULL,
  `pre_node_ids` text,
  `next_level` int DEFAULT NULL,
  `next_node_ids` text,
  `approve_type` int DEFAULT NULL,
  `branch_conditions` longtext,
  `canvas_x` decimal(10,2) DEFAULT NULL COMMENT '画布 X 坐标',
  `canvas_y` decimal(10,2) DEFAULT NULL COMMENT '画布 Y 坐标',
  `order_num` int DEFAULT '0',
  `tenant_id` bigint DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `deleted` tinyint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_wf_task_node_config_task` (`tenant_id`,`task_config_id`,`deleted`),
  KEY `idx_task_config_node_key` (`task_config_id`,`node_key`,`deleted`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_task_node_config`
--

LOCK TABLES `wf_task_node_config` WRITE;
/*!40000 ALTER TABLE `wf_task_node_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_task_node_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wf_task_node_rule`
--

DROP TABLE IF EXISTS `wf_task_node_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `wf_task_node_rule` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `node_config_id` bigint NOT NULL COMMENT '节点配置ID',
  `rule_name` varchar(128) DEFAULT NULL COMMENT '规则名称',
  `rule_type` int NOT NULL COMMENT '规则类型：1静态审批 2发起人自选 3多级上级 4动态追加',
  `approve_mode` int NOT NULL COMMENT '审批模式',
  `approval_threshold` decimal(10,2) DEFAULT NULL COMMENT '会签阈值',
  `sort_order` int NOT NULL DEFAULT '0' COMMENT '排序号',
  `timeout_hours` int DEFAULT NULL COMMENT '超时小时数',
  `timeout_action` int DEFAULT NULL COMMENT '超时动作：1提醒 2自动通过 3自动转交',
  `allow_initiator_select` tinyint(1) NOT NULL DEFAULT '0' COMMENT '是否允许发起人自选审批人',
  `superior_level` int DEFAULT NULL COMMENT '上级层级',
  `allow_add_sign` tinyint(1) NOT NULL DEFAULT '0' COMMENT '是否允许加签',
  `allow_transfer` tinyint(1) NOT NULL DEFAULT '0' COMMENT '是否允许转交',
  `allow_delegate` tinyint(1) NOT NULL DEFAULT '0' COMMENT '是否允许委托',
  `allow_recall` tinyint(1) NOT NULL DEFAULT '0' COMMENT '是否允许发起人撤回',
  `fallback_approver_ids` varchar(1000) DEFAULT NULL COMMENT '兜底审批人ID列表JSON',
  `extra_config` text COMMENT '扩展配置JSON',
  `tenant_id` bigint DEFAULT NULL COMMENT '租户ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint(1) NOT NULL DEFAULT '0' COMMENT '逻辑删除标记',
  PRIMARY KEY (`id`),
  KEY `idx_wf_task_node_rule_node` (`node_config_id`,`deleted`),
  KEY `idx_wf_task_node_rule_tenant` (`tenant_id`,`deleted`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='工作流节点运行规则表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wf_task_node_rule`
--

LOCK TABLES `wf_task_node_rule` WRITE;
/*!40000 ALTER TABLE `wf_task_node_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `wf_task_node_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'forgex_workflow'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-16 18:19:52
