-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: forgex_integration
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `fx_api_call_log_202604`
--

DROP TABLE IF EXISTS `fx_api_call_log_202604`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_api_call_log_202604` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `api_config_id` bigint NOT NULL COMMENT '接口配置表 ID',
  `call_direction` varchar(32) NOT NULL COMMENT '调用方向：INBOUND-外对内，OUTBOUND-内调外',
  `caller_ip` varchar(64) NOT NULL COMMENT '调用方 IP',
  `request_data` json DEFAULT NULL COMMENT '请求参数（JSON 格式）',
  `response_data` json DEFAULT NULL COMMENT '响应数据（JSON 格式）',
  `call_status` varchar(32) NOT NULL COMMENT '调用状态：SUCCESS-成功，FAIL-失败',
  `error_message` varchar(2000) DEFAULT NULL COMMENT '错误信息',
  `cost_time_ms` int NOT NULL DEFAULT '0' COMMENT '调用耗时（毫秒）',
  `call_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '调用时间',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID',
  PRIMARY KEY (`id`),
  KEY `idx_api_config_id` (`api_config_id`),
  KEY `idx_call_time` (`call_time`),
  KEY `idx_call_status` (`call_status`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='接口调用记录表 2026-04';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_api_call_log_202604`
--

LOCK TABLES `fx_api_call_log_202604` WRITE;
/*!40000 ALTER TABLE `fx_api_call_log_202604` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_api_call_log_202604` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_api_call_log_202605`
--

DROP TABLE IF EXISTS `fx_api_call_log_202605`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_api_call_log_202605` (
  `id` bigint NOT NULL COMMENT 'primary key',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT 'tenant id',
  `api_config_id` bigint NOT NULL COMMENT 'api config id',
  `outbound_target_id` bigint DEFAULT NULL COMMENT 'outbound target id',
  `target_system_code` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'target system code',
  `target_system_name` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'target system name',
  `api_code` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT 'api code',
  `call_direction` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT 'call direction',
  `caller_ip` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'caller ip',
  `trace_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'trace id',
  `task_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'task id',
  `invoke_mode` varchar(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'invoke mode',
  `request_data` json DEFAULT NULL COMMENT 'request payload',
  `raw_request_data` json DEFAULT NULL COMMENT 'raw request payload',
  `assembled_request_data` json DEFAULT NULL COMMENT 'assembled request payload',
  `response_data` json DEFAULT NULL COMMENT 'response payload',
  `response_code` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'response code',
  `call_status` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT 'call status',
  `result_type` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'result type',
  `error_message` varchar(2000) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'error message',
  `cost_time_ms` int NOT NULL DEFAULT '0' COMMENT 'cost time ms',
  `call_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'call time',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'create time',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'create by',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'update time',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'update by',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT 'deleted flag',
  PRIMARY KEY (`id`),
  KEY `idx_api_config_id` (`api_config_id`),
  KEY `idx_call_time` (`call_time`),
  KEY `idx_call_status` (`call_status`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='api call log table';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_api_call_log_202605`
--

LOCK TABLES `fx_api_call_log_202605` WRITE;
/*!40000 ALTER TABLE `fx_api_call_log_202605` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_api_call_log_202605` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_api_call_log_202606`
--

DROP TABLE IF EXISTS `fx_api_call_log_202606`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_api_call_log_202606` (
  `id` bigint NOT NULL COMMENT 'primary key',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT 'tenant id',
  `api_config_id` bigint NOT NULL COMMENT 'api config id',
  `outbound_target_id` bigint DEFAULT NULL COMMENT 'outbound target id',
  `target_system_code` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'target system code',
  `target_system_name` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'target system name',
  `api_code` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT 'api code',
  `call_direction` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT 'call direction',
  `caller_ip` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'caller ip',
  `trace_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'trace id',
  `task_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'task id',
  `invoke_mode` varchar(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'invoke mode',
  `request_data` json DEFAULT NULL COMMENT 'request payload',
  `raw_request_data` json DEFAULT NULL COMMENT 'raw request payload',
  `assembled_request_data` json DEFAULT NULL COMMENT 'assembled request payload',
  `response_data` json DEFAULT NULL COMMENT 'response payload',
  `response_code` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'response code',
  `call_status` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT 'call status',
  `result_type` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'result type',
  `error_message` varchar(2000) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'error message',
  `cost_time_ms` int NOT NULL DEFAULT '0' COMMENT 'cost time ms',
  `call_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'call time',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'create time',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'create by',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT 'update time',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT 'update by',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT 'deleted flag',
  PRIMARY KEY (`id`),
  KEY `idx_api_config_id` (`api_config_id`),
  KEY `idx_call_time` (`call_time`),
  KEY `idx_call_status` (`call_status`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='api call log table';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_api_call_log_202606`
--

LOCK TABLES `fx_api_call_log_202606` WRITE;
/*!40000 ALTER TABLE `fx_api_call_log_202606` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_api_call_log_202606` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_api_config`
--

DROP TABLE IF EXISTS `fx_api_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_api_config` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `api_code` varchar(64) NOT NULL COMMENT '接口编码（唯一）',
  `api_name` varchar(128) NOT NULL COMMENT '接口名称',
  `api_desc` varchar(500) DEFAULT NULL COMMENT '接口描述',
  `direction` varchar(32) NOT NULL COMMENT '操作方向：INBOUND-外对内，OUTBOUND-内调外',
  `api_path` varchar(255) DEFAULT NULL COMMENT '接口路径（外对内必填）',
  `processor_bean` varchar(128) DEFAULT NULL COMMENT '处理器 bean 名称（外对内必填）',
  `call_method` varchar(16) NOT NULL DEFAULT 'HTTP' COMMENT '调用方式：HTTP, TCP',
  `http_method` varchar(16) DEFAULT NULL COMMENT 'HTTP请求方法',
  `invoke_mode` varchar(16) DEFAULT NULL COMMENT '执行模式:SYNC/ASYNC',
  `content_type` varchar(128) DEFAULT NULL COMMENT '内容类型',
  `target_url` varchar(500) DEFAULT NULL COMMENT '目标地址（内调外时填写）',
  `timeout_ms` int NOT NULL DEFAULT '30000' COMMENT '超时时间（毫秒）',
  `retry_count` int DEFAULT '0' COMMENT '重试次数',
  `retry_interval_ms` int DEFAULT '0' COMMENT '重试间隔毫秒',
  `max_concurrent` int DEFAULT '0' COMMENT '单接口最大并发',
  `queue_limit` int DEFAULT '0' COMMENT '单接口等待队列上限',
  `auth_type` varchar(32) DEFAULT NULL COMMENT '认证方式',
  `auth_config` text COMMENT '认证配置JSON',
  `call_count` bigint NOT NULL DEFAULT '0' COMMENT '调用次数',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：0-禁用，1-启用',
  `module_code` varchar(64) NOT NULL COMMENT '所属模块编码',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(64) NOT NULL COMMENT '创建人',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `update_by` varchar(64) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除，1-已删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_api_code` (`api_code`,`tenant_id`,`deleted`),
  KEY `idx_processor_bean` (`processor_bean`),
  KEY `idx_api_path` (`api_path`),
  KEY `idx_direction` (`direction`),
  KEY `idx_status` (`status`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2045801208530558986 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='接口配置主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_api_config`
--

LOCK TABLES `fx_api_config` WRITE;
/*!40000 ALTER TABLE `fx_api_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_api_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_api_outbound_target`
--

DROP TABLE IF EXISTS `fx_api_outbound_target`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_api_outbound_target` (
  `id` bigint NOT NULL COMMENT '主键 ID',
  `tenant_id` bigint DEFAULT '0' COMMENT '租户 ID',
  `api_config_id` bigint NOT NULL COMMENT '接口主配置 ID',
  `third_system_id` bigint NOT NULL COMMENT '第三方系统 ID',
  `target_code` varchar(64) DEFAULT NULL COMMENT '目标系统编码',
  `target_name` varchar(128) DEFAULT NULL COMMENT '目标系统名称',
  `target_url` varchar(500) NOT NULL COMMENT '目标地址',
  `http_method` varchar(16) DEFAULT NULL COMMENT 'HTTP 方法',
  `content_type` varchar(128) DEFAULT NULL COMMENT '内容类型',
  `invoke_mode` varchar(16) DEFAULT NULL COMMENT '执行模式',
  `timeout_ms` int DEFAULT '30000' COMMENT '超时时间(ms)',
  `retry_count` int DEFAULT '0' COMMENT '重试次数',
  `retry_interval_ms` int DEFAULT '0' COMMENT '重试间隔(ms)',
  `order_num` int DEFAULT '0' COMMENT '排序',
  `status` tinyint DEFAULT '1' COMMENT '状态',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(64) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(64) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint DEFAULT '0' COMMENT '是否删除',
  PRIMARY KEY (`id`),
  KEY `idx_api_config_id` (`api_config_id`),
  KEY `idx_third_system_id` (`third_system_id`),
  KEY `idx_target_code` (`target_code`),
  KEY `idx_status` (`status`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='内调外目标配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_api_outbound_target`
--

LOCK TABLES `fx_api_outbound_target` WRITE;
/*!40000 ALTER TABLE `fx_api_outbound_target` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_api_outbound_target` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_api_param_config`
--

DROP TABLE IF EXISTS `fx_api_param_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_api_param_config` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `api_config_id` bigint NOT NULL COMMENT '接口配置表 ID',
  `outbound_target_id` bigint DEFAULT NULL COMMENT '目标配置 ID',
  `parent_id` bigint DEFAULT NULL COMMENT '父节点 ID（树形结构）',
  `direction` varchar(32) NOT NULL COMMENT '参数方向：REQUEST-请求，RESPONSE-响应',
  `node_type` varchar(32) NOT NULL COMMENT '节点类型：OBJECT-集合，ARRAY-数组，FIELD-字段',
  `field_name` varchar(128) NOT NULL COMMENT '字段值（传参的字段名）',
  `field_label` varchar(128) DEFAULT NULL COMMENT '字段显示名称',
  `field_type` varchar(64) DEFAULT NULL COMMENT '字段类型（string, number, boolean, array, object）',
  `field_path` varchar(500) NOT NULL COMMENT '字段完整路径（如：data.user.name）',
  `required` tinyint NOT NULL DEFAULT '0' COMMENT '是否必填：0-否，1-是',
  `default_value` varchar(500) DEFAULT NULL COMMENT '默认值',
  `dict_code` varchar(64) DEFAULT NULL COMMENT '字典编码（用于翻译）',
  `order_num` int NOT NULL DEFAULT '0' COMMENT '排序号',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(64) NOT NULL COMMENT '创建人',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `update_by` varchar(64) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除，1-已删除',
  PRIMARY KEY (`id`),
  KEY `idx_api_config_id` (`api_config_id`),
  KEY `idx_parent_id` (`parent_id`),
  KEY `idx_direction` (`direction`),
  KEY `idx_field_path` (`field_path`(255)),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2045910000000000234 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='接口参数配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_api_param_config`
--

LOCK TABLES `fx_api_param_config` WRITE;
/*!40000 ALTER TABLE `fx_api_param_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_api_param_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_api_param_mapping`
--

DROP TABLE IF EXISTS `fx_api_param_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_api_param_mapping` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `api_config_id` bigint NOT NULL COMMENT '接口配置表 ID',
  `outbound_target_id` bigint DEFAULT NULL COMMENT '目标配置 ID',
  `source_field_path` varchar(500) NOT NULL COMMENT '源字段路径',
  `target_field_path` varchar(500) NOT NULL COMMENT '目标字段路径',
  `transform_rule` varchar(500) DEFAULT NULL COMMENT '转换规则（JSON 表达式或函数名）',
  `default_value` varchar(500) DEFAULT NULL COMMENT '默认值',
  `constant_value` varchar(500) DEFAULT NULL COMMENT '常量值',
  `target_scope` varchar(32) DEFAULT NULL COMMENT '映射目标区域:BODY/QUERY/HEADER/PATH',
  `value_type` varchar(32) DEFAULT NULL COMMENT '取值类型:SOURCE/DEFAULT/CONSTANT',
  `direction` varchar(32) NOT NULL COMMENT '映射方向：INBOUND-外对内，OUTBOUND-内调外',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(64) NOT NULL COMMENT '创建人',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `update_by` varchar(64) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除，1-已删除',
  PRIMARY KEY (`id`),
  KEY `idx_api_config_id` (`api_config_id`),
  KEY `idx_direction` (`direction`),
  KEY `idx_source_field` (`source_field_path`(255)),
  KEY `idx_target_field` (`target_field_path`(255)),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2045910000000001237 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='接口参数映射表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_api_param_mapping`
--

LOCK TABLES `fx_api_param_mapping` WRITE;
/*!40000 ALTER TABLE `fx_api_param_mapping` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_api_param_mapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_api_task`
--

DROP TABLE IF EXISTS `fx_api_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_api_task` (
  `id` bigint NOT NULL,
  `tenant_id` bigint DEFAULT '0',
  `task_id` varchar(64) NOT NULL,
  `trace_id` varchar(64) DEFAULT NULL,
  `api_config_id` bigint NOT NULL,
  `outbound_target_id` bigint DEFAULT NULL COMMENT '目标配置 ID',
  `target_system_code` varchar(64) DEFAULT NULL COMMENT '目标系统编码',
  `target_system_name` varchar(128) DEFAULT NULL COMMENT '目标系统名称',
  `api_code` varchar(128) NOT NULL,
  `direction` varchar(16) NOT NULL,
  `processor_bean` varchar(128) DEFAULT NULL,
  `invoke_mode` varchar(16) DEFAULT NULL,
  `request_payload` longtext,
  `assembled_payload` longtext,
  `status` varchar(32) NOT NULL,
  `retry_count` int DEFAULT '0',
  `max_retry_count` int DEFAULT '0',
  `next_execute_time` datetime DEFAULT NULL,
  `lease_expire_time` datetime DEFAULT NULL,
  `started_time` datetime DEFAULT NULL,
  `finished_time` datetime DEFAULT NULL,
  `result_type` varchar(32) DEFAULT NULL,
  `error_message` varchar(1000) DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `create_by` varchar(64) DEFAULT NULL,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `update_by` varchar(64) DEFAULT NULL,
  `deleted` tinyint DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_task_id` (`task_id`),
  KEY `idx_status_next_time` (`status`,`next_execute_time`),
  KEY `idx_api_code` (`api_code`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='接口异步任务表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_api_task`
--

LOCK TABLES `fx_api_task` WRITE;
/*!40000 ALTER TABLE `fx_api_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_api_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_api_task_result`
--

DROP TABLE IF EXISTS `fx_api_task_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_api_task_result` (
  `id` bigint NOT NULL,
  `tenant_id` bigint DEFAULT '0',
  `task_id` varchar(64) NOT NULL,
  `trace_id` varchar(64) DEFAULT NULL,
  `api_config_id` bigint NOT NULL,
  `outbound_target_id` bigint DEFAULT NULL COMMENT '目标配置 ID',
  `target_system_code` varchar(64) DEFAULT NULL COMMENT '目标系统编码',
  `target_system_name` varchar(128) DEFAULT NULL COMMENT '目标系统名称',
  `api_code` varchar(128) NOT NULL,
  `direction` varchar(16) NOT NULL,
  `status` varchar(32) NOT NULL,
  `result_type` varchar(32) DEFAULT NULL,
  `result_data` longtext,
  `error_message` varchar(1000) DEFAULT NULL,
  `cost_time_ms` int DEFAULT '0',
  `finished_time` datetime DEFAULT NULL,
  `expire_time` datetime DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `create_by` varchar(64) DEFAULT NULL,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `update_by` varchar(64) DEFAULT NULL,
  `deleted` tinyint DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_task_result_task_id` (`task_id`),
  KEY `idx_expire_time` (`expire_time`),
  KEY `idx_api_code` (`api_code`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='接口异步任务结果表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_api_task_result`
--

LOCK TABLES `fx_api_task_result` WRITE;
/*!40000 ALTER TABLE `fx_api_task_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_api_task_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_third_authorization`
--

DROP TABLE IF EXISTS `fx_third_authorization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_third_authorization` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `third_system_id` bigint NOT NULL COMMENT '第三方系统 ID',
  `auth_type` varchar(32) NOT NULL COMMENT '授权方式：WHITELIST-白名单，TOKEN-限时 token',
  `token_value` varchar(255) DEFAULT NULL COMMENT 'Token 值（授权方式为 TOKEN 时必填）',
  `token_expire_type` varchar(32) DEFAULT NULL COMMENT 'Token有效期类型: HOURS/DAY/MONTH/YEAR/CUSTOM/FOREVER',
  `token_expire_value` int DEFAULT NULL COMMENT 'Token有效期数值',
  `token_expire_hours` int DEFAULT NULL COMMENT 'Token 有效期（小时）',
  `token_expire_time` datetime DEFAULT NULL COMMENT 'Token 过期时间',
  `whitelist_ips` varchar(1000) DEFAULT NULL COMMENT '白名单 IP 列表（授权方式为 WHITELIST 时使用）',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：0-禁用，1-启用',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(64) NOT NULL COMMENT '创建人',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `update_by` varchar(64) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除，1-已删除',
  PRIMARY KEY (`id`),
  KEY `idx_third_system_id` (`third_system_id`),
  KEY `idx_token_value` (`token_value`),
  KEY `idx_status` (`status`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2053726901834760194 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='第三方授权表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_third_authorization`
--

LOCK TABLES `fx_third_authorization` WRITE;
/*!40000 ALTER TABLE `fx_third_authorization` DISABLE KEYS */;
INSERT INTO `fx_third_authorization` VALUES (2053726901834760193,2045037285200052226,'TOKEN','d8a9bd18f81f4f8ab1db225375a064dc','YEAR',1,8760,'2027-05-11 20:29:46','',1,'',1993479636925403138,'2026-05-11 14:40:24','admin','2026-05-11 20:29:46','admin',0);
/*!40000 ALTER TABLE `fx_third_authorization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_third_system`
--

DROP TABLE IF EXISTS `fx_third_system`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_third_system` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `system_code` varchar(64) NOT NULL COMMENT '第三方系统编码（唯一）',
  `system_name` varchar(128) NOT NULL COMMENT '第三方系统名称',
  `ip_address` varchar(255) DEFAULT NULL COMMENT '第三方系统 IP（多个用逗号分隔）',
  `contact_info` varchar(255) DEFAULT NULL COMMENT '联系信息',
  `remark` varchar(500) DEFAULT NULL COMMENT '备注',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：0-禁用，1-启用',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(64) NOT NULL COMMENT '创建人',
  `update_time` datetime DEFAULT NULL COMMENT '更新时间',
  `update_by` varchar(64) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0-未删除，1-已删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_system_code` (`system_code`,`tenant_id`,`deleted`),
  KEY `idx_status` (`status`),
  KEY `idx_tenant_id` (`tenant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2045037285200052227 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='第三方系统信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_third_system`
--

LOCK TABLES `fx_third_system` WRITE;
/*!40000 ALTER TABLE `fx_third_system` DISABLE KEYS */;
INSERT INTO `fx_third_system` VALUES (2045037285200052226,'cs','本地ERP测试系统','192.168.3.7:18080','','',1,1993479636925403138,'2026-04-17 15:10:58','admin','2026-05-10 22:37:36','admin',0);
/*!40000 ALTER TABLE `fx_third_system` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'forgex_integration'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-16 19:19:32
