-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: forgex_job
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `sys_job`
--

DROP TABLE IF EXISTS `sys_job`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '任务ID',
  `job_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '任务名称',
  `job_group` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'DEFAULT' COMMENT '任务组名',
  `invoke_target` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '调用目标字符串',
  `cron_expression` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT 'Cron执行表达式',
  `misfire_policy` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT '3' COMMENT '计划执行错误策略（1立即执行 2执行一次 3放弃执行）',
  `concurrent` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT '0' COMMENT '是否并发执行（0允许 1禁止）',
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT '0' COMMENT '状态（0正常 1暂停）',
  `tenant_id` bigint DEFAULT NULL COMMENT '租户ID',
  `create_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建者',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '更新者',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '备注信息',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_job_group` (`job_group`) USING BTREE,
  KEY `idx_status` (`status`) USING BTREE,
  KEY `idx_tenant` (`tenant_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='定时任务调度表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job`
--

LOCK TABLES `sys_job` WRITE;
/*!40000 ALTER TABLE `sys_job` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_alarm_log`
--

DROP TABLE IF EXISTS `sys_job_alarm_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_alarm_log` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `rule_id` bigint DEFAULT NULL COMMENT '规则ID',
  `job_id` bigint DEFAULT NULL COMMENT '任务ID',
  `job_code` varchar(100) DEFAULT NULL COMMENT '任务编码',
  `log_id` bigint DEFAULT NULL COMMENT '日志ID',
  `alarm_type` tinyint DEFAULT NULL COMMENT '告警类型',
  `send_status` tinyint NOT NULL DEFAULT '0' COMMENT '发送状态',
  `notify_type` varchar(60) DEFAULT NULL COMMENT '通知方式',
  `notify_target` text COMMENT '通知目标',
  `content` text COMMENT '告警内容',
  `error_message` text COMMENT '错误信息',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`),
  KEY `idx_sys_job_alarm_log_job` (`tenant_id`,`job_code`,`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Job告警日志';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_alarm_log`
--

LOCK TABLES `sys_job_alarm_log` WRITE;
/*!40000 ALTER TABLE `sys_job_alarm_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_alarm_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_alarm_rule`
--

DROP TABLE IF EXISTS `sys_job_alarm_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_alarm_rule` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `rule_name` varchar(160) NOT NULL COMMENT '规则名称',
  `job_id` bigint DEFAULT NULL COMMENT '任务ID',
  `job_code` varchar(100) DEFAULT NULL COMMENT '任务编码',
  `alarm_type` tinyint NOT NULL DEFAULT '1' COMMENT '告警类型',
  `threshold_count` int NOT NULL DEFAULT '1' COMMENT '阈值次数',
  `window_minutes` int NOT NULL DEFAULT '5' COMMENT '统计窗口分钟',
  `notify_type` varchar(60) DEFAULT NULL COMMENT '通知方式',
  `notify_target` text COMMENT '通知目标',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态',
  `remark` text COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`),
  KEY `idx_sys_job_alarm_rule_job` (`tenant_id`,`job_code`,`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Job告警规则';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_alarm_rule`
--

LOCK TABLES `sys_job_alarm_rule` WRITE;
/*!40000 ALTER TABLE `sys_job_alarm_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_alarm_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_instance`
--

DROP TABLE IF EXISTS `sys_job_instance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_instance` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `instance_id` varchar(160) NOT NULL COMMENT '实例ID',
  `service_name` varchar(100) DEFAULT NULL COMMENT '服务名',
  `ip` varchar(64) DEFAULT NULL COMMENT 'IP地址',
  `port` int DEFAULT NULL COMMENT '端口',
  `pid` varchar(40) DEFAULT NULL COMMENT '进程ID',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态',
  `running_count` int NOT NULL DEFAULT '0' COMMENT '运行中数量',
  `last_heartbeat_time` datetime DEFAULT NULL COMMENT '最后心跳时间',
  `start_time` datetime DEFAULT NULL COMMENT '启动时间',
  `maintenance` tinyint NOT NULL DEFAULT '0' COMMENT '维护模式',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_job_instance` (`tenant_id`,`instance_id`,`deleted`),
  KEY `idx_sys_job_instance_heartbeat` (`tenant_id`,`last_heartbeat_time`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Job执行器实例';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_instance`
--

LOCK TABLES `sys_job_instance` WRITE;
/*!40000 ALTER TABLE `sys_job_instance` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_instance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_log`
--

DROP TABLE IF EXISTS `sys_job_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_log` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '任务日志ID',
  `job_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '任务名称',
  `trigger_type` tinyint NOT NULL DEFAULT '1' COMMENT '????',
  `fire_time` datetime DEFAULT NULL COMMENT '??????',
  `job_group` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '任务组名',
  `invoke_target` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '调用目标字符串',
  `job_message` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '日志信息',
  `status` tinyint NOT NULL DEFAULT '0' COMMENT '状态：0 待执行，1 执行中，2 成功，3 失败，4 超时，5 取消',
  `instance_id` varchar(160) DEFAULT NULL COMMENT '??ID',
  `request_params` text COMMENT '????',
  `result_message` text COMMENT '????',
  `error_stack` mediumtext COMMENT '????',
  `retry_count` int NOT NULL DEFAULT '0' COMMENT '????',
  `retry_of_log_id` bigint DEFAULT NULL COMMENT '????ID',
  `shard_index` int DEFAULT '0' COMMENT '????',
  `shard_total` int DEFAULT '1' COMMENT '????',
  `request_id` varchar(120) DEFAULT NULL COMMENT '??ID',
  `exception_info` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '异常信息',
  `start_time` datetime DEFAULT NULL COMMENT '开始时间',
  `end_time` datetime DEFAULT NULL COMMENT '????',
  `duration_ms` bigint DEFAULT NULL COMMENT '????',
  `stop_time` datetime DEFAULT NULL COMMENT '结束时间',
  `cost_time` bigint DEFAULT NULL COMMENT '执行时长(毫秒)',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `job_id` bigint NOT NULL DEFAULT '0' COMMENT '??ID',
  `job_code` varchar(100) NOT NULL COMMENT '任务编码',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '???',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '????',
  `update_by` varchar(50) DEFAULT NULL COMMENT '???',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '????',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_job_name` (`job_name`) USING BTREE,
  KEY `idx_job_group` (`job_group`) USING BTREE,
  KEY `idx_status` (`status`) USING BTREE,
  KEY `idx_start_time` (`start_time`) USING BTREE,
  KEY `idx_tenant` (`tenant_id`) USING BTREE,
  KEY `idx_sys_job_log_job_time` (`tenant_id`,`job_id`,`fire_time`),
  KEY `idx_sys_job_log_status` (`tenant_id`,`status`,`create_time`),
  KEY `idx_sys_job_log_request` (`tenant_id`,`request_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='定时任务执行日志表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_log`
--

LOCK TABLES `sys_job_log` WRITE;
/*!40000 ALTER TABLE `sys_job_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_retry`
--

DROP TABLE IF EXISTS `sys_job_retry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_retry` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `job_id` bigint NOT NULL COMMENT '任务ID',
  `log_id` bigint NOT NULL COMMENT '日志ID',
  `job_code` varchar(100) NOT NULL COMMENT '任务编码',
  `biz_type` varchar(80) DEFAULT NULL COMMENT '业务类型',
  `biz_id` varchar(120) DEFAULT NULL COMMENT '业务ID',
  `retry_count` int NOT NULL DEFAULT '0' COMMENT '已重试次数',
  `max_retry_count` int NOT NULL DEFAULT '0' COMMENT '最大重试次数',
  `next_retry_time` datetime DEFAULT NULL COMMENT '下次重试时间',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：1 待重试，2 死信，3 已处理',
  `last_error` text COMMENT '最后错误',
  `handle_remark` text COMMENT '处理备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`),
  KEY `idx_sys_job_retry_next` (`tenant_id`,`status`,`next_retry_time`),
  KEY `idx_sys_job_retry_log` (`tenant_id`,`log_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Job重试与死信';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_retry`
--

LOCK TABLES `sys_job_retry` WRITE;
/*!40000 ALTER TABLE `sys_job_retry` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_retry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_scheduler`
--

DROP TABLE IF EXISTS `sys_job_scheduler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_scheduler` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `scheduler_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '调度器名称',
  `scheduler_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '调度器类型：QUARTZ/XXL-JOB',
  `config_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '配置信息JSON',
  `status` tinyint DEFAULT '1' COMMENT '状态：1启用 0禁用',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '备注',
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='任务调度器配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_scheduler`
--

LOCK TABLES `sys_job_scheduler` WRITE;
/*!40000 ALTER TABLE `sys_job_scheduler` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_scheduler` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_task`
--

DROP TABLE IF EXISTS `sys_job_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_task` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `job_code` varchar(100) NOT NULL COMMENT '任务编码',
  `job_name` varchar(200) NOT NULL COMMENT '任务名称',
  `job_group` varchar(100) DEFAULT NULL COMMENT '任务分组',
  `job_type` tinyint NOT NULL DEFAULT '1' COMMENT '任务类型：1 JavaBean，2 HTTP，3 Script，4 RocketMQ，5 DAG',
  `schedule_type` tinyint NOT NULL DEFAULT '0' COMMENT '调度类型：0 手动，1 Cron，2 固定间隔',
  `cron_expression` varchar(120) DEFAULT NULL COMMENT 'Cron 表达式',
  `interval_seconds` int DEFAULT NULL COMMENT '固定间隔秒数',
  `bean_name` varchar(200) DEFAULT NULL COMMENT 'Spring Bean 名称',
  `method_name` varchar(100) DEFAULT NULL COMMENT '方法名',
  `http_url` varchar(500) DEFAULT NULL COMMENT 'HTTP 地址',
  `http_method` varchar(20) DEFAULT NULL COMMENT 'HTTP 方法',
  `http_headers` text COMMENT 'HTTP 请求头 JSON',
  `script_type` varchar(30) DEFAULT NULL COMMENT '脚本类型',
  `script_path` varchar(500) DEFAULT NULL COMMENT '脚本路径',
  `script_args` text COMMENT '脚本参数',
  `mq_topic` varchar(200) DEFAULT NULL COMMENT 'RocketMQ Topic',
  `mq_tags` varchar(200) DEFAULT NULL COMMENT 'RocketMQ Tags',
  `workflow_id` bigint DEFAULT NULL COMMENT 'DAG 编排ID',
  `job_params` text COMMENT '任务参数 JSON',
  `status` tinyint NOT NULL DEFAULT '0' COMMENT '状态：0 停用，1 启用',
  `block_strategy` tinyint NOT NULL DEFAULT '1' COMMENT '阻塞策略',
  `timeout_seconds` int NOT NULL DEFAULT '60' COMMENT '超时时间秒',
  `max_retry_count` int NOT NULL DEFAULT '0' COMMENT '最大重试次数',
  `retry_interval_seconds` int DEFAULT '60' COMMENT '重试间隔秒',
  `shard_total` int NOT NULL DEFAULT '1' COMMENT '分片总数',
  `broadcast_enabled` tinyint NOT NULL DEFAULT '0' COMMENT '是否广播',
  `next_trigger_time` datetime DEFAULT NULL COMMENT '下次触发时间',
  `last_trigger_time` datetime DEFAULT NULL COMMENT '上次触发时间',
  `last_status` tinyint DEFAULT NULL COMMENT '上次执行状态',
  `trigger_count` bigint NOT NULL DEFAULT '0' COMMENT '触发次数',
  `remark` text COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_job_task_code` (`tenant_id`,`job_code`,`deleted`),
  KEY `idx_sys_job_task_next` (`status`,`next_trigger_time`),
  KEY `idx_sys_job_task_group` (`tenant_id`,`job_group`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Job任务定义';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_task`
--

LOCK TABLES `sys_job_task` WRITE;
/*!40000 ALTER TABLE `sys_job_task` DISABLE KEYS */;
INSERT INTO `sys_job_task` VALUES (1,1993479636925403138,'job_smoke_test','Job Smoke Test','system-test',1,3,NULL,NULL,'jobSmokeTestHandler','execute',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'{\"mode\":\"success\",\"message\":\"manual smoke test\"}',0,1,10,1,10,1,0,NULL,NULL,NULL,0,'Smoke test task for JavaBean success, failure, exception and timeout flow.','2026-05-13 20:56:35','codex','2026-05-13 20:57:28','codex',0);
/*!40000 ALTER TABLE `sys_job_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_workflow`
--

DROP TABLE IF EXISTS `sys_job_workflow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_workflow` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `workflow_code` varchar(100) NOT NULL COMMENT '编排编码',
  `workflow_name` varchar(160) NOT NULL COMMENT '编排名称',
  `status` tinyint NOT NULL DEFAULT '0' COMMENT '状态',
  `graph_json` mediumtext COMMENT '图定义JSON',
  `remark` text COMMENT '备注',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_sys_job_workflow_code` (`tenant_id`,`workflow_code`,`deleted`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Job DAG编排';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_workflow`
--

LOCK TABLES `sys_job_workflow` WRITE;
/*!40000 ALTER TABLE `sys_job_workflow` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_workflow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_workflow_edge`
--

DROP TABLE IF EXISTS `sys_job_workflow_edge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_workflow_edge` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `workflow_id` bigint NOT NULL COMMENT '编排ID',
  `edge_code` varchar(100) DEFAULT NULL COMMENT '连线编码',
  `source_node_code` varchar(100) NOT NULL COMMENT '源节点编码',
  `target_node_code` varchar(100) NOT NULL COMMENT '目标节点编码',
  `condition_expression` varchar(500) DEFAULT NULL COMMENT '条件表达式',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`),
  KEY `idx_sys_job_workflow_edge` (`tenant_id`,`workflow_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Job DAG连线';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_workflow_edge`
--

LOCK TABLES `sys_job_workflow_edge` WRITE;
/*!40000 ALTER TABLE `sys_job_workflow_edge` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_workflow_edge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_workflow_execution`
--

DROP TABLE IF EXISTS `sys_job_workflow_execution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_workflow_execution` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `workflow_id` bigint NOT NULL COMMENT '编排ID',
  `workflow_code` varchar(100) NOT NULL COMMENT '编排编码',
  `root_log_id` bigint DEFAULT NULL COMMENT '根日志ID',
  `status` tinyint NOT NULL DEFAULT '0' COMMENT '状态',
  `start_time` datetime DEFAULT NULL COMMENT '开始时间',
  `end_time` datetime DEFAULT NULL COMMENT '结束时间',
  `node_status_json` mediumtext COMMENT '节点状态JSON',
  `result_message` text COMMENT '执行结果',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`),
  KEY `idx_sys_job_workflow_execution` (`tenant_id`,`workflow_id`,`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Job DAG执行记录';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_workflow_execution`
--

LOCK TABLES `sys_job_workflow_execution` WRITE;
/*!40000 ALTER TABLE `sys_job_workflow_execution` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_workflow_execution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_job_workflow_node`
--

DROP TABLE IF EXISTS `sys_job_workflow_node`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_job_workflow_node` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户ID',
  `workflow_id` bigint NOT NULL COMMENT '编排ID',
  `node_code` varchar(100) NOT NULL COMMENT '节点编码',
  `node_name` varchar(160) DEFAULT NULL COMMENT '节点名称',
  `job_id` bigint DEFAULT NULL COMMENT '任务ID',
  `node_type` varchar(50) DEFAULT NULL COMMENT '节点类型',
  `node_config` text COMMENT '节点配置',
  `position_x` int DEFAULT '0' COMMENT 'X坐标',
  `position_y` int DEFAULT '0' COMMENT 'Y坐标',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) DEFAULT NULL COMMENT '创建人',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`),
  KEY `idx_sys_job_workflow_node` (`tenant_id`,`workflow_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Job DAG节点';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_job_workflow_node`
--

LOCK TABLES `sys_job_workflow_node` WRITE;
/*!40000 ALTER TABLE `sys_job_workflow_node` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_job_workflow_node` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'forgex_job'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-16 20:16:48
