-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: 127.0.0.1    Database: forgex_common
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `fx_encode_history`
--

DROP TABLE IF EXISTS `fx_encode_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_encode_history` (
  `id` bigint NOT NULL COMMENT '历史记录 ID（雪花算法生成）',
  `rule_id` bigint NOT NULL COMMENT '规则 ID（关联 fx_encode_rule.id）',
  `rule_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '规则编码（冗余字段，便于查询）',
  `biz_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '业务类型',
  `generated_code` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '生成的编码',
  `biz_id` bigint DEFAULT NULL COMMENT '关联业务 ID（如订单 ID、合同 ID 等）',
  `biz_no` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '关联业务单号',
  `sequence_value` int DEFAULT NULL COMMENT '生成时的序列号值',
  `reset_flag` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '重置标识（用于标识重置周期，如：20260410, 202604 等）',
  `operator_id` bigint DEFAULT NULL COMMENT '操作人 ID',
  `operator_name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '操作人姓名',
  `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注说明',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID（0 表示公共数据）',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '创建人',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0=未删除，1=已删除',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_rule_id` (`rule_id`) USING BTREE COMMENT '规则 ID 索引',
  KEY `idx_rule_code` (`rule_code`) USING BTREE COMMENT '规则编码索引',
  KEY `idx_biz_type` (`biz_type`) USING BTREE COMMENT '业务类型索引',
  KEY `idx_generated_code` (`generated_code`) USING BTREE COMMENT '生成编码索引',
  KEY `idx_biz_id` (`biz_id`) USING BTREE COMMENT '关联业务 ID 索引',
  KEY `idx_create_time` (`create_time`) USING BTREE COMMENT '创建时间索引',
  KEY `idx_tenant_id` (`tenant_id`) USING BTREE COMMENT '租户 ID 索引',
  CONSTRAINT `fk_encode_history_rule` FOREIGN KEY (`rule_id`) REFERENCES `fx_encode_rule` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC COMMENT='编码历史记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_encode_history`
--

LOCK TABLES `fx_encode_history` WRITE;
/*!40000 ALTER TABLE `fx_encode_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_encode_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_encode_rule`
--

DROP TABLE IF EXISTS `fx_encode_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_encode_rule` (
  `id` bigint NOT NULL COMMENT '编码规则 ID（雪花算法生成）',
  `rule_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '规则名称',
  `module` varchar(64) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '适用模块',
  `prefix` varchar(32) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '编码前缀',
  `rule_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '规则编码（唯一标识，用于代码调用）',
  `biz_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '业务类型（如：ORDER, CONTRACT, INVOICE 等）',
  `rule_description` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '规则描述',
  `encode_prefix` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '编码前缀（固定字符，如：ORD, CNT 等）',
  `encode_suffix` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '编码后缀（固定字符）',
  `total_length` int DEFAULT NULL COMMENT '编码总长度（包含前缀、后缀、序列号等）',
  `date_format` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '日期格式（如：yyyyMMdd, yyMM, yyyy 等）',
  `serial_length` int DEFAULT '4' COMMENT '流水位数',
  `reset_cycle` varchar(32) COLLATE utf8mb4_general_ci DEFAULT 'DAILY' COMMENT '流水重置周期',
  `current_serial` int DEFAULT '0' COMMENT '当前流水号',
  `sequence_length` int DEFAULT '6' COMMENT '序列号长度（默认 6 位）',
  `sequence_start` int DEFAULT '1' COMMENT '序列号起始值（默认从 1 开始）',
  `padding_char` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '填充字符（序列号不足长度时的填充字符）',
  `padding_side` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'LEFT' COMMENT '填充方向：LEFT=左侧填充，RIGHT=右侧填充',
  `reset_type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'NONE' COMMENT '重置类型：NONE=不重置，DAILY=每日重置，MONTHLY=每月重置，YEARLY=每年重置',
  `reset_sequence` tinyint DEFAULT '1' COMMENT '重置后序列号是否归 1：0=不归 1，1=归 1',
  `is_enabled` tinyint NOT NULL DEFAULT '1' COMMENT '是否启用：0=禁用，1=启用',
  `sort_order` int DEFAULT '0' COMMENT '排序号',
  `is_default` tinyint DEFAULT '0' COMMENT '是否默认规则：0=否，1=是（同一业务类型只能有一个默认规则）',
  `priority` int DEFAULT '0' COMMENT '优先级（数字越小优先级越高，用于多规则匹配）',
  `effective_date` date DEFAULT NULL COMMENT '生效日期',
  `expiry_date` date DEFAULT NULL COMMENT '失效日期',
  `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注说明',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：0=停用，1=启用',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID（0 表示公共数据，所有租户共享）',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '创建人',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0=未删除，1=已删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_rule_code` (`rule_code`) USING BTREE COMMENT '规则编码唯一索引',
  KEY `idx_biz_type` (`biz_type`) USING BTREE COMMENT '业务类型索引',
  KEY `idx_rule_name` (`rule_name`) USING BTREE COMMENT '规则名称索引',
  KEY `idx_status` (`status`) USING BTREE COMMENT '状态索引',
  KEY `idx_is_enabled` (`is_enabled`) USING BTREE COMMENT '是否启用索引',
  KEY `idx_effective_date` (`effective_date`) USING BTREE COMMENT '生效日期索引',
  KEY `idx_tenant_id` (`tenant_id`) USING BTREE COMMENT '租户 ID 索引'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC COMMENT='编码规则主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_encode_rule`
--

LOCK TABLES `fx_encode_rule` WRITE;
/*!40000 ALTER TABLE `fx_encode_rule` DISABLE KEYS */;
INSERT INTO `fx_encode_rule` VALUES (202604260400000001,'供应商编码','basic','SUP','SUPPLIER_CODE',NULL,NULL,NULL,NULL,NULL,'yyyyMMdd',4,'DAILY',0,6,1,'0','LEFT','NONE',1,1,0,0,0,NULL,NULL,'供应商主数据自动编码',1,0,'2026-04-26 18:52:32','2026-04-30 10:52:16','system','20260430_fix_pages',0),(202604290100000001,'客户编码','basic','CUS','CUSTOMER_CODE','CUSTOMER','客户主数据自动编码',NULL,NULL,NULL,'yyyyMMdd',4,'DAILY',0,6,1,'0','LEFT','NONE',1,1,0,0,0,NULL,NULL,NULL,1,0,'2026-04-29 23:46:40','2026-04-30 10:52:16','system','20260430_fix_pages',0);
/*!40000 ALTER TABLE `fx_encode_rule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_encode_rule_detail`
--

DROP TABLE IF EXISTS `fx_encode_rule_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_encode_rule_detail` (
  `id` bigint NOT NULL COMMENT '明细 ID（雪花算法生成）',
  `rule_id` bigint NOT NULL COMMENT '规则 ID（关联 fx_encode_rule.id）',
  `segment_type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '段类型：FIXED=固定字符，DATE=日期，SEQUENCE=序列号，VARIABLE=变量',
  `segment_value` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '段值（固定字符段的实际值，或变量段的变量名）',
  `connector` varchar(32) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '连接符',
  `segment_length` int DEFAULT NULL COMMENT '段长度（固定字符段为字符长度，日期段为格式长度，序列号为数字位数）',
  `date_format` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '日期格式（仅日期段使用，如：yyyy, MM, dd, HHmmss 等）',
  `sequence_start` int DEFAULT '1' COMMENT '序列号起始值（仅序列段使用）',
  `padding_char` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT '0' COMMENT '填充字符（序列号不足长度时的填充字符）',
  `padding_side` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'LEFT' COMMENT '填充方向：LEFT=左侧填充，RIGHT=右侧填充',
  `segment_order` int NOT NULL COMMENT '段顺序（从 1 开始，决定各段在编码中的位置）',
  `is_required` tinyint NOT NULL DEFAULT '1' COMMENT '是否必填：0=可选，1=必填',
  `condition_expression` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '条件表达式',
  `description` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '段描述',
  `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注说明',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID（0 表示公共数据）',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '创建人',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0=未删除，1=已删除',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_rule_id` (`rule_id`) USING BTREE COMMENT '规则 ID 索引',
  KEY `idx_segment_type` (`segment_type`) USING BTREE COMMENT '段类型索引',
  KEY `idx_segment_order` (`segment_order`) USING BTREE COMMENT '段顺序索引',
  KEY `idx_tenant_id` (`tenant_id`) USING BTREE COMMENT '租户 ID 索引',
  CONSTRAINT `fk_encode_rule_detail` FOREIGN KEY (`rule_id`) REFERENCES `fx_encode_rule` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC COMMENT='编码规则明细表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_encode_rule_detail`
--

LOCK TABLES `fx_encode_rule_detail` WRITE;
/*!40000 ALTER TABLE `fx_encode_rule_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_encode_rule_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_encode_rule_example`
--

DROP TABLE IF EXISTS `fx_encode_rule_example`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_encode_rule_example` (
  `id` bigint NOT NULL COMMENT '示例 ID（雪花算法生成）',
  `rule_id` bigint NOT NULL COMMENT '规则 ID（关联 fx_encode_rule.id）',
  `example_code` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT '示例编码',
  `example_description` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '示例说明',
  `sort` int DEFAULT '0' COMMENT '排序',
  `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '备注说明',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID（0 表示公共数据）',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '创建人',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0=未删除，1=已删除',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_rule_id` (`rule_id`) USING BTREE COMMENT '规则 ID 索引',
  KEY `idx_sort` (`sort`) USING BTREE COMMENT '排序索引',
  KEY `idx_tenant_id` (`tenant_id`) USING BTREE COMMENT '租户 ID 索引',
  CONSTRAINT `fk_encode_rule_example` FOREIGN KEY (`rule_id`) REFERENCES `fx_encode_rule` (`id`) ON DELETE CASCADE ON UPDATE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci ROW_FORMAT=DYNAMIC COMMENT='编码规则示例表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_encode_rule_example`
--

LOCK TABLES `fx_encode_rule_example` WRITE;
/*!40000 ALTER TABLE `fx_encode_rule_example` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_encode_rule_example` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_excel_export_config`
--

DROP TABLE IF EXISTS `fx_excel_export_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_excel_export_config` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL COMMENT '租户ID',
  `table_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '表名',
  `table_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '表编号',
  `header_style_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '表头样式(JSON)',
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '标题列名称',
  `title_i18n_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '标题多语言JSON',
  `subtitle` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '标题列小字说明',
  `subtitle_i18n_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '副标题多语言JSON',
  `export_format` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'xlsx' COMMENT '导出格式(xlsx/csv)',
  `enabled` tinyint NOT NULL DEFAULT '1' COMMENT '是否启用：1启用 0禁用',
  `enable_total` tinyint NOT NULL DEFAULT '0' COMMENT '是否开启总计',
  `version` int NOT NULL DEFAULT '1' COMMENT '版本',
  `create_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '修改人',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_export_tenant_code` (`tenant_id`,`table_code`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='Excel导出配置主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_excel_export_config`
--

LOCK TABLES `fx_excel_export_config` WRITE;
/*!40000 ALTER TABLE `fx_excel_export_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_excel_export_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_excel_export_config_item`
--

DROP TABLE IF EXISTS `fx_excel_export_config_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_excel_export_config_item` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL COMMENT '租户ID',
  `config_id` bigint NOT NULL COMMENT '主表ID',
  `export_field` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '导出字段',
  `field_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '字段名(默认列头)',
  `i18n_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '字段多语言配置(JSON)',
  `header_style_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '列头样式(JSON)',
  `cell_style_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '列内容样式(JSON)',
  `order_num` int NOT NULL DEFAULT '0' COMMENT '顺序',
  `create_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '修改人',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_export_cfg` (`tenant_id`,`config_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='Excel导出配置子表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_excel_export_config_item`
--

LOCK TABLES `fx_excel_export_config_item` WRITE;
/*!40000 ALTER TABLE `fx_excel_export_config_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_excel_export_config_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_excel_export_config_template`
--

DROP TABLE IF EXISTS `fx_excel_export_config_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_excel_export_config_template` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID（0 表示公共配置）',
  `template_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模板编码',
  `template_name` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模板名称',
  `biz_type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '业务类型',
  `config_data` json NOT NULL COMMENT '配置数据（JSON 格式）',
  `enabled` tinyint DEFAULT '1' COMMENT '是否启用',
  `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '备注',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_tenant_template` (`tenant_id`,`template_code`,`deleted`) USING BTREE,
  KEY `idx_tenant_id` (`tenant_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='导出配置模板表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_excel_export_config_template`
--

LOCK TABLES `fx_excel_export_config_template` WRITE;
/*!40000 ALTER TABLE `fx_excel_export_config_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_excel_export_config_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_excel_import_config`
--

DROP TABLE IF EXISTS `fx_excel_import_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_excel_import_config` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL COMMENT '租户ID',
  `table_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '表名',
  `table_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '表编号',
  `handler_bean_name` varchar(128) DEFAULT NULL COMMENT '导入处理器 Bean 名称',
  `import_permission` varchar(128) DEFAULT NULL COMMENT '导入权限码',
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '标题列名称',
  `title_i18n_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '标题多语言JSON',
  `subtitle` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '标题列小字说明',
  `subtitle_i18n_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '副标题多语言JSON',
  `subtitle_style_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '?????? JSON(???????)',
  `version` int NOT NULL DEFAULT '1' COMMENT '版本',
  `create_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '修改人',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_import_tenant_code` (`tenant_id`,`table_code`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='Excel导入配置主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_excel_import_config`
--

LOCK TABLES `fx_excel_import_config` WRITE;
/*!40000 ALTER TABLE `fx_excel_import_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_excel_import_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_excel_import_config_item`
--

DROP TABLE IF EXISTS `fx_excel_import_config_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_excel_import_config_item` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL COMMENT '租户ID',
  `config_id` bigint NOT NULL COMMENT '主表ID',
  `sheet_code` varchar(64) DEFAULT NULL COMMENT 'Sheet 编码',
  `sheet_name` varchar(128) DEFAULT NULL COMMENT 'Sheet 名称',
  `i18n_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '字段多语言配置(JSON)',
  `import_field` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '导入字段',
  `field_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'string' COMMENT '字段类型(time/date/datetime/dict/...)',
  `field_remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '????/??',
  `dict_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '字典编号',
  `data_source_type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT 'NONE' COMMENT '???????NONE/DICT/JSON/PROVIDER',
  `data_source_value` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '????? (????/JSON ??/Provider Bean ?)',
  `depends_on_field_key` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '?????? key(????)',
  `separator` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT ',' COMMENT '?????',
  `required` tinyint NOT NULL DEFAULT '0' COMMENT '是否必填',
  `order_num` int NOT NULL DEFAULT '0' COMMENT '顺序',
  `create_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '修改人',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_import_cfg` (`tenant_id`,`config_id`) USING BTREE,
  KEY `idx_data_source_type` (`data_source_type`) USING BTREE,
  KEY `idx_depends_on_field` (`depends_on_field_key`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=264 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='Excel导入配置子表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_excel_import_config_item`
--

LOCK TABLES `fx_excel_import_config_item` WRITE;
/*!40000 ALTER TABLE `fx_excel_import_config_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_excel_import_config_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_i18n_language_type`
--

DROP TABLE IF EXISTS `fx_i18n_language_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_i18n_language_type` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `lang_code` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '语言代码，例如：zh-CN, en-US',
  `lang_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '语言名称，例如：简体中文, English',
  `lang_name_en` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '语言英文名称',
  `icon` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '语言图标',
  `order_num` int NOT NULL DEFAULT '0' COMMENT '排序号',
  `enabled` tinyint NOT NULL DEFAULT '1' COMMENT '是否启用：1启用 0禁用',
  `is_default` tinyint NOT NULL DEFAULT '0' COMMENT '是否默认语言：1默认 0非默认',
  `create_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '修改人',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  `tenant_id` bigint DEFAULT NULL COMMENT '租户id（这里不设置租户隔离）',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `lang_code` (`lang_code`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='多语言类型配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_i18n_language_type`
--

LOCK TABLES `fx_i18n_language_type` WRITE;
/*!40000 ALTER TABLE `fx_i18n_language_type` DISABLE KEYS */;
INSERT INTO `fx_i18n_language_type` VALUES (1,'zh-CN','简体中文','Simplified Chinese','🇨🇳',1,1,1,'system','2026-01-16 10:35:28',NULL,'2026-01-16 10:35:28',0,NULL),(2,'en-US','English','English','🇺🇸',2,1,0,'system','2026-01-16 10:35:28',NULL,'2026-01-16 10:35:28',0,NULL),(3,'zh-TW','繁體中文','Traditional Chinese','🇹🇼',3,1,0,'system','2026-01-16 10:35:28',NULL,'2026-01-16 10:35:28',0,NULL),(4,'ja-JP','日本語','Japanese','🇯🇵',4,1,0,'system','2026-01-16 10:35:28',NULL,'2026-01-16 10:35:28',0,NULL),(5,'ko-KR','한국어','Korean','🇰🇷',5,1,0,'system','2026-01-16 10:35:28',NULL,'2026-01-16 10:35:28',0,NULL);
/*!40000 ALTER TABLE `fx_i18n_language_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_i18n_message`
--

DROP TABLE IF EXISTS `fx_i18n_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_i18n_message` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `module` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模块标识',
  `prompt_code` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '消息模板编号',
  `text_i18n_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '文本国际化(JSON)',
  `enabled` tinyint NOT NULL DEFAULT '1' COMMENT '是否启用：1启用 0禁用',
  `version` int NOT NULL DEFAULT '1' COMMENT '版本',
  `create_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '修改人',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  `tenant_id` int DEFAULT NULL COMMENT '公共字段租户id，本表不需要使用',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_i18n_msg` (`module`,`prompt_code`,`deleted`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=4000000000000001214 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='返回消息国际化配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_i18n_message`
--

LOCK TABLES `fx_i18n_message` WRITE;
/*!40000 ALTER TABLE `fx_i18n_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_i18n_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_table_column_config`
--

DROP TABLE IF EXISTS `fx_table_column_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_table_column_config` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL COMMENT '租户ID',
  `table_code` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '表格代码',
  `field` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '字段名',
  `title_i18n_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '列头国际化(JSON)',
  `align` varchar(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '对齐方式(left/center/right)',
  `width` int DEFAULT NULL COMMENT '列宽',
  `fixed` varchar(16) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '固定列(left/right)',
  `ellipsis` tinyint NOT NULL DEFAULT '0' COMMENT '是否省略',
  `sortable` tinyint NOT NULL DEFAULT '0' COMMENT '是否可排序',
  `sorter_field` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '排序字段映射',
  `queryable` tinyint NOT NULL DEFAULT '0' COMMENT '是否支持查询',
  `query_type` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '查询类型(input/select/dateRange/numberRange/...)',
  `query_operator` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '查询操作符(eq/like/in/between/...)',
  `dict_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '字典编码',
  `render_type` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '渲染类型(text/tag/date/dictTag/...)',
  `perm_key` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '权限Key',
  `order_num` int NOT NULL DEFAULT '0' COMMENT '顺序',
  `enabled` tinyint NOT NULL DEFAULT '1' COMMENT '是否启用：1启用 0禁用',
  `create_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '修改人',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_table_col_tenant_code` (`tenant_id`,`table_code`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3000000000000000654 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='通用表格列配置子表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_table_column_config`
--

LOCK TABLES `fx_table_column_config` WRITE;
/*!40000 ALTER TABLE `fx_table_column_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_table_column_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_table_config`
--

DROP TABLE IF EXISTS `fx_table_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_table_config` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL COMMENT '租户ID',
  `table_code` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '表格代码',
  `table_name_i18n_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '表格名称国际化(JSON)',
  `table_type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'NORMAL' COMMENT '表格类型(NORMAL/LAZY/TREE)',
  `row_key` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '行Key字段',
  `default_page_size` int NOT NULL DEFAULT '20' COMMENT '默认分页大小',
  `default_sort_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '默认排序(JSON)',
  `enabled` tinyint NOT NULL DEFAULT '1' COMMENT '是否启用：1启用 0禁用',
  `version` int NOT NULL DEFAULT '1' COMMENT '版本',
  `create_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_by` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '修改人',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_table_cfg_tenant_code` (`tenant_id`,`table_code`) USING BTREE,
  UNIQUE KEY `uk_table_tenant` (`table_code`,`tenant_id`,`deleted`) USING BTREE,
  KEY `idx_tenant_id` (`tenant_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3000000000000000591 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='通用表格配置主表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_table_config`
--

LOCK TABLES `fx_table_config` WRITE;
/*!40000 ALTER TABLE `fx_table_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_table_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_user_table_config`
--

DROP TABLE IF EXISTS `fx_user_table_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_user_table_config` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `table_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '表编码',
  `user_id` bigint NOT NULL COMMENT '用户 ID',
  `tenant_id` bigint NOT NULL COMMENT '租户 ID',
  `column_config` json DEFAULT NULL COMMENT '列配置（JSON 格式）',
  `query_config` json DEFAULT NULL COMMENT '查询字段配置（JSON 格式）',
  `sort_config` json DEFAULT NULL COMMENT '排序配置（JSON 格式）',
  `page_size` int DEFAULT '20' COMMENT '分页大小',
  `version` int DEFAULT '1' COMMENT '版本号',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_user_table` (`user_id`,`table_code`,`tenant_id`,`deleted`) USING BTREE,
  KEY `idx_table_code` (`table_code`) USING BTREE,
  KEY `idx_tenant_id` (`tenant_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='用户级别表格配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_user_table_config`
--

LOCK TABLES `fx_user_table_config` WRITE;
/*!40000 ALTER TABLE `fx_user_table_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_user_table_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fx_user_table_pref`
--

DROP TABLE IF EXISTS `fx_user_table_pref`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fx_user_table_pref` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `tenant_id` bigint NOT NULL COMMENT '租户ID',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `table_code` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '表格代码',
  `hidden_fields_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '隐藏字段(JSON)',
  `field_order_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '字段顺序(JSON)',
  `page_size` int DEFAULT NULL COMMENT '分页大小',
  `sort_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '排序(JSON)',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint NOT NULL DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_user_table_pref` (`tenant_id`,`user_id`,`table_code`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='用户表格个性化配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fx_user_table_pref`
--

LOCK TABLES `fx_user_table_pref` WRITE;
/*!40000 ALTER TABLE `fx_user_table_pref` DISABLE KEYS */;
/*!40000 ALTER TABLE `fx_user_table_pref` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_config`
--

DROP TABLE IF EXISTS `sys_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_config` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tenant_id` bigint DEFAULT NULL,
  `config_key` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `config_value` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted` tinyint NOT NULL DEFAULT '0',
  `remark` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_config_key` (`config_key`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_config`
--

LOCK TABLES `sys_config` WRITE;
/*!40000 ALTER TABLE `sys_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_mq_message_template`
--

DROP TABLE IF EXISTS `sys_mq_message_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_mq_message_template` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID（0 表示公共配置）',
  `template_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模板编码',
  `template_name` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模板名称',
  `message_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '消息类型：SYSTEM-系统通知，TASK-任务通知，AUDIT-审批通知',
  `message_title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '消息标题',
  `message_content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '消息内容',
  `send_channel` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '发送渠道：STATION-站内信，EMAIL-邮件，SMS-短信',
  `params` json DEFAULT NULL COMMENT '参数定义（JSON 格式）',
  `enabled` tinyint DEFAULT '1' COMMENT '是否启用',
  `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '备注',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_tenant_template` (`tenant_id`,`template_code`,`deleted`) USING BTREE,
  KEY `idx_tenant_id` (`tenant_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='MQ 消息模板表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_mq_message_template`
--

LOCK TABLES `sys_mq_message_template` WRITE;
/*!40000 ALTER TABLE `sys_mq_message_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_mq_message_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_operation_template`
--

DROP TABLE IF EXISTS `sys_operation_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_operation_template` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '模板ID',
  `tenant_id` bigint NOT NULL COMMENT '租户ID',
  `module` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模块',
  `operation_type` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '操作类型',
  `template_code` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模板编码',
  `text_i18n_json` json DEFAULT NULL COMMENT '多语言模板(JSON)',
  `placeholders_json` json DEFAULT NULL COMMENT '占位符字段(JSON)',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `deleted` tinyint DEFAULT '0' COMMENT '逻辑删除',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '更新人',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_tenant_module_code` (`tenant_id`,`module`,`template_code`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='操作详情模板表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_operation_template`
--

LOCK TABLES `sys_operation_template` WRITE;
/*!40000 ALTER TABLE `sys_operation_template` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_operation_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_response_message_template`
--

DROP TABLE IF EXISTS `sys_response_message_template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_response_message_template` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `tenant_id` bigint NOT NULL DEFAULT '0' COMMENT '租户 ID（0 表示公共配置）',
  `template_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模板编码',
  `template_name` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模板名称',
  `template_content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '模板内容',
  `template_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '模板类型：SUCCESS-成功，ERROR-错误，WARN-警告，INFO-信息',
  `lang` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT 'zh-CN' COMMENT '语言',
  `params` json DEFAULT NULL COMMENT '参数定义（JSON 格式）',
  `enabled` tinyint DEFAULT '1' COMMENT '是否启用',
  `remark` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '备注',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '更新人',
  `deleted` tinyint DEFAULT '0' COMMENT '逻辑删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_tenant_template` (`tenant_id`,`template_code`,`lang`,`deleted`) USING BTREE,
  KEY `idx_tenant_id` (`tenant_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='接口返回消息模板表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_response_message_template`
--

LOCK TABLES `sys_response_message_template` WRITE;
/*!40000 ALTER TABLE `sys_response_message_template` DISABLE KEYS */;
INSERT INTO `sys_response_message_template` VALUES (1,0,'success','成功消息','操作成功','SUCCESS','zh-CN',NULL,1,'默认成功消息模板','2026-04-01 19:48:04','2026-04-01 19:48:04',NULL,NULL,0),(2,0,'error','错误消息','操作失败：{reason}','ERROR','zh-CN',NULL,1,'默认错误消息模板','2026-04-01 19:48:04','2026-04-01 19:48:04',NULL,NULL,0),(3,0,'warn','警告消息','警告：{message}','WARN','zh-CN',NULL,1,'默认警告消息模板','2026-04-01 19:48:04','2026-04-01 19:48:04',NULL,NULL,0),(4,0,'info','信息消息','{message}','INFO','zh-CN',NULL,1,'默认信息消息模板','2026-04-01 19:48:04','2026-04-01 19:48:04',NULL,NULL,0);
/*!40000 ALTER TABLE `sys_response_message_template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_tenant_init_task`
--

DROP TABLE IF EXISTS `sys_tenant_init_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_tenant_init_task` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID',
  `tenant_id` bigint NOT NULL COMMENT '租户 ID',
  `tenant_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '租户名称',
  `tenant_type` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '租户类型',
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT 'PENDING' COMMENT '状态：PENDING-等待中，RUNNING-进行中，SUCCESS-成功，FAILED-失败',
  `progress` int DEFAULT '0' COMMENT '进度百分比（0-100）',
  `current_step` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '当前步骤描述',
  `error_message` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '错误信息',
  `start_time` datetime DEFAULT NULL COMMENT '开始时间',
  `end_time` datetime DEFAULT NULL COMMENT '结束时间',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_tenant_id` (`tenant_id`) USING BTREE,
  KEY `idx_status` (`status`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='租户初始化任务表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_tenant_init_task`
--

LOCK TABLES `sys_tenant_init_task` WRITE;
/*!40000 ALTER TABLE `sys_tenant_init_task` DISABLE KEYS */;
INSERT INTO `sys_tenant_init_task` VALUES (1,1993479636925403140,'富士康科技集团','SUPPLIER_TENANT','SUCCESS',100,'供应商租户登录修复完成',NULL,'2026-05-12 23:18:18','2026-05-12 23:18:18','2026-05-12 23:18:18','2026-05-12 23:27:41');
/*!40000 ALTER TABLE `sys_tenant_init_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_user_style_config`
--

DROP TABLE IF EXISTS `sys_user_style_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_user_style_config` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键ID',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `tenant_id` bigint NOT NULL COMMENT '租户ID',
  `config_key` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '配置键，例如：layout.style',
  `config_json` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '配置内容JSON',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `create_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '创建人账号/ID',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `update_by` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '修改人账号/ID',
  `deleted` tinyint DEFAULT '0' COMMENT '逻辑删除：0未删除 1已删除',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_user_tenant_key` (`user_id`,`tenant_id`,`config_key`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='用户页面样式配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_user_style_config`
--

LOCK TABLES `sys_user_style_config` WRITE;
/*!40000 ALTER TABLE `sys_user_style_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_user_style_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'forgex_common'
--
/*!50003 DROP PROCEDURE IF EXISTS `upgrade_supplier_common_ids_20260426` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `upgrade_supplier_common_ids_20260426`()
BEGIN

  IF EXISTS (

    SELECT 1 FROM information_schema.columns

    WHERE table_schema = 'forgex_common'

      AND table_name = 'fx_table_config'

      AND column_name = 'id'

      AND extra NOT LIKE '%auto_increment%'

  ) THEN

    ALTER TABLE `forgex_common`.`fx_table_config`

      MODIFY COLUMN `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID';

  END IF;



  IF EXISTS (

    SELECT 1 FROM information_schema.columns

    WHERE table_schema = 'forgex_common'

      AND table_name = 'fx_table_column_config'

      AND column_name = 'id'

      AND extra NOT LIKE '%auto_increment%'

  ) THEN

    ALTER TABLE `forgex_common`.`fx_table_column_config`

      MODIFY COLUMN `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID';

  END IF;



  IF EXISTS (

    SELECT 1 FROM information_schema.columns

    WHERE table_schema = 'forgex_common'

      AND table_name = 'fx_encode_rule'

      AND column_name = 'id'

      AND extra NOT LIKE '%auto_increment%'

  ) THEN

    ALTER TABLE `forgex_common`.`fx_encode_rule`

      MODIFY COLUMN `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID';

  END IF;



  IF EXISTS (

    SELECT 1 FROM information_schema.columns

    WHERE table_schema = 'forgex_common'

      AND table_name = 'fx_i18n_message'

      AND column_name = 'id'

      AND extra NOT LIKE '%auto_increment%'

  ) THEN

    ALTER TABLE `forgex_common`.`fx_i18n_message`

      MODIFY COLUMN `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键 ID';

  END IF;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-16 20:16:48
