FORGEX_INSTANCE_CODE=ACME_PROD
FORGEX_PROFILE=prod
FORGEX_HOME=/opt/Forgex_ACME_PROD
FORGEX_LICENSE_DIR=/opt/Forgex_ACME_PROD/license
FORGEX_UPLOAD_DIR=/opt/Forgex_ACME_PROD/data/uploads
FORGEX_LOG_DIR=/opt/Forgex_ACME_PROD/logs
FORGEX_BACKUP_DIR=/opt/Forgex_ACME_PROD/backup
FORGEX_NACOS_ADDR=127.0.0.1:8848
FORGEX_REDIS_ADDR=127.0.0.1:6379
FORGEX_MYSQL_URL=jdbc:mysql://127.0.0.1:3306/forgex
FORGEX_GATEWAY_PORT=9000
FORGEX_AUTH_PORT=9001
FORGEX_SYS_PORT=9002
FORGEX_BASIC_PORT=9003
FORGEX_JOB_PORT=9004
FORGEX_INTEGRATION_PORT=9007
FORGEX_WORKFLOW_PORT=9005
FORGEX_REPORT_PORT=8084
COMPOSE_PROJECT_NAME=forgex_acme_prod
